# Dependency directories
**/node_modules/
**/bower_components/

# Python cache & virtual environments
.python_cache/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/myenv/
**/.venv/
**/env/
**/venv/
**/ENV/

# Expo directories and files
.expo/
**/dist/
**/build/
.expo-shared/

# Local/OS files
.DS_Store
Thumbs.db
*.log
.env
.env.local
.env.*.local
*.pem
ca.pem

# Backend uploads
**/app/uploads/photos/*.jpg
**/app/uploads/photos/*.png
**/app/uploads/photos/*.jpeg
