fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
email-validator
pyjwt
passlib[bcrypt]
python-dotenv
python-multipart
qrcode[pil]
pandas
reportlab
openpyxl
google-generativeai
redis
razorpay